# mlcourse.ai â€“ Open Machine Learning Course Assignment 1. Fall 2019
###              Exploratory data analysis of Olympic games with Pandas

In [17]:
import pandas as pd
import numpy as np
import sys

In [18]:
data = pd.read_csv('~/Downloads/ODS_ML/Week1 /athlete_events.csv')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

### 1. How old were the youngest male and female participants of the 1992 Olympics?

In [19]:
data[data.Year==1992].groupby('Sex')['Age'].agg('min')

Sex
F    12.0
M    11.0
Name: Age, dtype: float64

### 2.What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.

In [61]:
male_basketball_players_2012 = data[(data.Sport=='Basketball')&(data.Year==2012)&(data.Sex=='M')].ID.nunique()
total_basketball_player_2012 = data[(data.Year==2012)&(data.Sex=='M')].ID.nunique()

percent_male_bb_players_2012 = round((male_basketball_players_2012/total_basketball_player_2012)*100,1)
print('Percent of Male basketball players to all Male participants during 2012 Olympics was {}%'.format(percent_male_bb_players_2012))

Percent of Male basketball players to all Male participants during 2012 Olympics was 2.5%

### 3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.

In [82]:
data[(data.Year==2000)&(data.Sex=='F')&(data.Sport=='Tennis')].Height.agg([np.mean, np.std])

mean    171.792000
std       6.458673
Name: Height, dtype: float64

#### 4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?

In [70]:
max_weight = data[(data.Year==2006)].Weight.max()
data[(data.Year==2006)&(data.Weight==max_weight)].Sport

8102    Skeleton
Name: Sport, dtype: object

#### 5. How many times did John Aalberg participate in the Olympics held in different years?

In [129]:
data[data.Name=='John Aalberg'].Year.nunique()

2

### 6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.

In [131]:
data[(data.Sport=='Tennis')&(data.Year==2008)&(data.Team=='Switzerland')&(data.Medal=='Gold')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
67290,34396,Roger Federer,M,26.0,185.0,80.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold
257672,129042,Stanislas Wawrinka,M,23.0,183.0,79.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold

### 7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in Medal column.

In [136]:
data[((data.Team=='Spain')|(data.Team=='Italy'))&(data.Year==2016)].groupby('Team').Medal.value_counts()
#TRUE

Team   Medal
Italy  Silver    38
       Bronze    24
       Gold       8
Spain  Silver    19
       Bronze    17
       Gold       7
Name: Medal, dtype: int64

### 8. What age category did the fewest and the most participants of the 2008 Olympics belong to?

In [161]:
data[(data.Year==2008)&(data.Age>=45)&(data.Age<=55)].shape[0] #119

# data[(data.Year==2008)&(data.Age>=25)&(data.Age<=35)].shape[0] # 6562

# data[(data.Year==2008)&(data.Age>=15)&(data.Age<25)].shape[0] # 6294

# data[(data.Year==2008)&(data.Age>=35)&(data.Age<45)].shape[0] # 790

# Ans - most : [25,35], fewest:[45,55]

119

### 9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?

In [125]:
# (data[(data.Season=='Summer')&(data.City.isin(['Atlanta']))]) -- TRUE
# data[(data.Season=='Winter')&(data.City.isin(['Squaw Valley']))] -- TRUE

### 10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?

In [163]:
data[(data.Year==2002)].Sport.unique()

array(['Ice Hockey', 'Alpine Skiing', 'Cross Country Skiing', 'Luge',
       'Freestyle Skiing', 'Speed Skating', 'Figure Skating',
       'Nordic Combined', 'Bobsleigh', 'Ski Jumping', 'Biathlon',
       'Skeleton', 'Short Track Speed Skating', 'Snowboarding', 'Curling'],
      dtype=object)

In [165]:
data[(data.Year==1986)]

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [169]:
data.Year.sort_values().unique()

array([1896, 1900, 1904, 1906, 1908, 1912, 1920, 1924, 1928, 1932, 1936,
       1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988,
       1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012,
       2014, 2016])